/* 
 * ===================================
    Event | 活動頁面最外層容器
 * ===================================
 */

#event {
  visibility: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
  width: 100%;

  &.is-active {
    visibility: visible;
  }
}
